<main>
  <h1 class="first-heading__title" i18n data-testid="register-title">
    Create your account
  </h1>
  <form class="form__container register__form" [formGroup]="registerForm" (ngSubmit)="sendForm()">
    <div class="form-control__container">
      <sl-input
        id="register-name-input"
        class="input--primary"
        placeholder="Enter your name"
        label="Name"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appTrim
        required
        ngDefaultControl
        [attr.help-text]="translations.fieldRequired"
        [formControl]="formControls.username"
      >
        <sl-icon name="person" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        id="register-email-input"
        class="input--primary"
        placeholder="Enter your email"
        label="Email"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appLowercase
        appTrim
        required
        ngDefaultControl
        [attr.help-text]="translations.emailHelpText"
        [formControl]="formControls.email"
      >
        <sl-icon name="person-circle" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        id="register-password-input"
        type="password"
        class="input--primary"
        placeholder="Enter your password"
        password-toggle
        label="Password"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        required
        ngDefaultControl
        [attr.help-text]="translations.passwordHelpText"
        [formControl]="formControls.password"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        id="register-confirm-password-input"
        type="password"
        class="input--primary"
        placeholder="Retype the password"
        password-toggle
        label="Confirm password"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        required
        ngDefaultControl
        [attr.help-text]="formState().passwordsMatch ? '' : translations.confirmPasswordHelpText"
        [formControl]="formControls.confirmPassword"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-checkbox
        class="checkbox--primary"
        i18n
        appSlCheckboxControl
        [attr.help-text]="
          formControls.terms['touched'] && !formControls.terms['valid']
            ? translations.fieldRequired
            : ''
        "
        [formControl]="formControls.terms"
      >
        I agree to the terms and privacy policy
      </sl-checkbox>
    </div>
    <div class="form-control__container">
      <sl-button
        class="button--primary"
        size="medium"
        pill
        type="submit"
        [disabled]="formState().isLoading"
        [attr.loading]="formState().isLoading || null"
      >
        <ng-container i18n>Create account</ng-container>
      </sl-button>
    </div>
    <div>
      <p class="form-footer__paragraph">
        <a class="form-footer__link" [routerLink]="authUrls.logIn">
          <ng-container i18n>Do you have an account? Log in</ng-container>
        </a>
      </p>
    </div>
  </form>
</main>
