@use 'base/media-queries' as mq;
@use 'components/pages';

$register-form-max-width: 400px;

:host {
  @include pages.read-page;

  text-align: center;

  .register__form {
    position: relative;
    max-width: $register-form-max-width;
    padding: var(--spacing-r-7xl) var(--spacing-r-xl);
    margin-block-start: var(--spacing-r-6xl);

    @include mq.for-tablet-up {
      padding: var(--spacing-r-8xl) var(--spacing-r-xl);
      margin-block-start: var(--spacing-r-7xl);
    }

  }
}

