<main>
  <h1 class="first-heading__title" i18n>My account</h1>
  <form
    class="form__container update-user__form"
    [formGroup]="updateUserForm"
    (ngSubmit)="sendForm()"
  >
    <div class="theme-button__container">
      <app-theme-button />
    </div>
    <div class="form-control__container">
      <sl-input
        id="my-account-name-input"
        class="input--primary"
        placeholder="Enter your name"
        label="Name"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appTrim
        clearable
        (sl-clear)="name.setValue('')"
        required
        ngDefaultControl
        [attr.help-text]="translations.fieldRequired"
        [formControl]="name"
      >
        <sl-icon name="person" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        id="my-account-email-input"
        class="input--primary"
        placeholder="Enter your email"
        label="Email"
        size="medium"
        i18n-label
        i18n-placeholder
        required
        clearable
        (sl-clear)="email.setValue('')"
        ngDefaultControl
        [formControl]="email"
      >
        <sl-icon name="person-circle" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        id="my-account-password-input"
        class="input--primary"
        type="password"
        placeholder="Enter your password"
        label="Password"
        size="medium"
        i18n-label
        i18n-placeholder
        appSlInputIconFocus
        appTrim
        required
        ngDefaultControl
        [attr.help-text]="translations.fieldRequired"
        [formControl]="password"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-select
        label="Language"
        class="select--primary"
        ngDefaultControl
        appSlSelectControl
        size="medium"
        i18n-label
        [formControl]="language"
      >
        <sl-option class="sl-option--primary" i18n value="en-US">English (US)</sl-option>
        <sl-option class="sl-option--primary" i18n value="fr-FR">Français (France)</sl-option>
      </sl-select>
    </div>
    <div class="form-control__container">
      <sl-button
        class="button--primary"
        size="medium"
        pill
        type="submit"
        [attr.loading]="isButtonUpdateUserFormLoading() || null"
      >
        <ng-container i18n>Save</ng-container>
      </sl-button>
    </div>
  </form>
</main>
